/* CSS for the html body*/
/* Div represents each level of the Regulation*/
/* Span represents different types of operators*/

/* Put the proper classification names and colors
    # span.name
    # colors
    */



span.R{
    background-color: #6495ed;
}
span.B{
    background-color: #00ff00;
}
span.D{
    background-color:#ffff00;
}
span.L{
    background-color:#a2a2a2;
}


span.H {
    font-weight:bold;
}


div.ex1 {
  padding-bottom: 0.2cm;
}
div.ex2 {
  padding-bottom: 0.2cm;
}
div.ex3 {
  padding-bottom: 0.2cm;
}
div.ex4 {
  padding-bottom: 0.5cm;
}

div.ex5 {
  padding-bottom: 0cm;
  padding-left: 0.5cm;
  text-indent: 50px;
}
div.ex6 {
  padding-bottom: 0.2cm;
  padding-left: 1cm;
  text-indent: 50px;
}
div.ex7 {
  padding-bottom: 0.2cm;
  padding-left: 1.5cm;
  text-indent: 50px;
}

div.ex8 {
    padding-bottom: 0.2cm;
    padding-left: 2cm;
    text-indent: 50px;
}


div.ex9 {
    padding-bottom: 0.2cm;
    padding-left: 2cm;
    text-indent: 50px;
}


div.ex10 {
    padding-bottom: 0.2cm;
    padding-left: 2cm;
    text-indent: 50px;
}

div.ex11 {
    padding-bottom: 0.2cm;
    padding-left: 2cm;
    text-indent: 50px;
}
