textarea#id_editor {
    /* textarea is for ipads only */
    font-family: monospace;
    font-size: 120%;
}

#id_internal_nav_bar_container {
    width: 100%;
    padding: 0 5px 0 10px;
}

#id_editor_toolbar {
    width: 100%;
    text-align: left;
}

#id_ide_split_panes {
    margin-left: 10px;
    margin-right: 10px;
    min-height: 100px;
}

.splitter-pane {
    overflow: auto;
}
#id_ide_split_panes .splitter-bar-horizontal {
    height: 6px;
    height-y: 100%;
    background-image: url('/static/splitter/img/hgrabber.gif?6770d1fd3285');
    background-repeat: no-repeat;
    background-position: center;
    margin-left: -1px;
}
#id_ide_split_panes.splitter-bar-horizontal-docked {
    height: 10px;
    background-image: url('/static/splitter/img/hgrabber.gif?6770d1fd3285');
    background-repeat: no-repeat;
    background-position: center;
}
.splitter-bar.ui-state-highlight {
    opacity: 0.7;
}
.splitter-iframe-hide {
    visibility: hidden;
}


#id_editor {
    height: 100%;
    width: 100%;
    border: 0;
    margin: 0;
}

#id_ide_console {
    border: 0;
    overflow: hidden;
}
#id_ide_console iframe {
    border: 0;
    height: 100%;
    width: 100%;
}
#id_ide_console button {
    margin: 10px
}

#id_file_name {
    font-style: normal;
    font-weight: bold;
}

#id_copyright_div {
    margin-top: 2px;
}

#id_editor_buttons_right {
    float: right;
    margin-right: 10px;
    margin-bottom: 5px;
}

.dialog_buttons {
    margin-top: 5px;
    margin-bottom: 0;
    float: right;
}


#id_save_error {
    margin-top: 0.5ex;
    margin-right: 1em;
    font-size: smaller;
    color: #AA2222;
    padding: 5px;
}

#id_breadcrumbs_div {
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: top;
}

.breadcrumbs_link {
    vertical-align: top;
}

#id_file_name {
    vertical-align: top;
}

#id_footer {
    padding-top: 10px;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    position: absolute;
    bottom: 0;
}
