
/* CSS3 for the context menu*/

.custom-menu {
    display: none;
    z-index: 1000;
    position: absolute;
    overflow: hidden;
    border: 1px solid #CCC;
    white-space: nowrap;
    font-family: sans-serif;
    background: #FFF;
    color: #333;
    border-radius: 5px;
    padding: 0;
}

/* Each of the items in the list */
.custom-menu li {
    padding: 8px 12px;
    cursor: pointer;
    list-style-type: none;
    transition: all .3s ease;
}

.custom-menu li:hover {
    background-color: #DEF;
}



 #divID #recipe {
    list-style: none;

  }

  #divID #recipe li {

    margin-bottom: 6px;
    border-bottom: 1px solid #ccc;
      font-family: Arial, Sans-Serif;
      font-size: 10px;
  }

    #divID #recipe li span {

      display:block;
    margin-left:1em;
  }


  #divID #GrammaticalOperators {
	  background: url('img/GrammaticalOperators.png') no-repeat 6px 50%;
      background-size: 10px 10px;
      font-family: Arial, Sans-Serif;

    }

  #divID #LegalOperators {
      background: url('img/LegalOperators.png') no-repeat 8px 50%;
      background-size: 10px 10px;
    }

  #divID #LegalReferences {
    background: url('img/LegalReferences.png')  no-repeat 6px 50%;
      background-size: 10px 10px;
    }

  #divID #LogicalOperators {
    background: url(img/LogicalOperators.png) no-repeat 6px 50%;
  background-size: 10px 10px ;
  }

  #divID #RegulationOperators {
    background: url(img/RegulationOperators.png) no-repeat 6px 50%;
    background-size: 10px 10px ;
  }

  #divID #Attributes {
    background: url(img/Attributes.png) no-repeat 6px 50%;
  background-size: 10px 10px ;
  }


  #divID #EconomicOperand {
    background: url(img/EconomicOperand.png) no-repeat 6px 50%;
  background-size: 10px 10px;
  }

#divID #Other {
    background: url(img/Other.png) no-repeat 6px 50%;
 background-size: 10px 10px ;
}

#divID #Update {
    background: url(img/Update.png) no-repeat 6px 50%;
    background-size: 10px 10px ;
}

#divID #Remove {
    background: url(img/Remove.png) no-repeat 6px 50%;
    background-size: 10px 10px ;
}



