/* CSS for the html body*/
/* Div represents each level of the Regulation*/
/* Span represents different types of operators*/

/* Put the proper classification names and colors
    # span.name
    # colors
    */



span.A1 {
    background-color:#a8fea8;
   }

span.A2 {
    background-color:#47fc47;
   }

span.A3 {
    background-color:#03ca03;
   }

span.C {
    background-color:#cc99ff;
}

span.T1 {
    background-color:#ffff99;
}

span.T2 {
    background-color:#ffff00;
}

span.T3 {
    background-color:#ffcc00;
}

span.EL {
    background-color:#d3d3d3;
}

span.ER {
    background-color:#c9e3e3;
}

span.H {
    font-weight:bold;
}





div.ex1 {
  padding-bottom: 0.2cm;
  text-indent: 50px;
}
div.ex2 {
  padding-bottom: 0.2cm;
  text-indent: 50px;
}
div.ex3 {
  padding-bottom: 0.2cm;
  text-indent: 50px;
}
div.ex4 {
  padding-bottom: 0.2cm;
  text-indent: 50px;
}

div.ex5 {
  padding-bottom: 0.5cm;
  padding-left: 0.5cm;
  text-indent: 50px;
}
div.ex6 {
  padding-bottom: 0.2cm;
  padding-left: 1cm;
  text-indent: 50px;
}
div.ex7 {
  padding-bottom: 0.2cm;
  padding-left: 1.5cm;
  text-indent: 50px;
}

div.ex8 {
    padding-bottom: 0.2cm;
    padding-left: 2cm;
    text-indent: 50px;
}


div.ex9 {
    padding-bottom: 0.2cm;
    padding-left: 2cm;
    text-indent: 50px;
}


div.ex10 {
    padding-bottom: 0.2cm;
    padding-left: 2cm;
    text-indent: 50px;
}

div.ex11 {
    padding-bottom: 0.2cm;
    padding-left: 2cm;
    text-indent: 50px;
}
