.row {
  margin: 0 0 40px 0;
}

#submit {
  float:right;
}

.regulation {
  padding: 36px 20px 20px 0px;
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 23px !important;
}

td {
  padding: 1px 7px !important;
  overflow-wrap: normal;
}

th {
  padding: 4px !important;
  padding-bottom: 5px !important
}

#correctanswer {
  display: none !important;
}

#n_reg {
  display: none !important;
}

.panel-info {
  border-color: #e1e1e1 !important;
}

.panel {
  border-radius: 1px !important;
}
