
body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 10px;
}


.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav p {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 10px;
    color: #ffffff;
    display: block;
    transition: 0.3s
}




.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .selected{
    color:#f1f1f1;
}



@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}

}


.nav-tabs ul {
    list-style-type: none;
    right:0;
    top:0;
    width: 192px;
    height: 62px;
    position: fixed;
    background-color: #ffffff;
}


.nav-tabs ul form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background:  #000000;
    width: 100%;
    border: 0;
    margin:0;
    float: left;
    padding: 10px;
    color: #FFFFFF;
    font-size: 10px;
    cursor: pointer;
}


.buttons ul {
    list-style-type: none;
    right:0;
    top: 100px;
    width: 192px;
    height: 40px;
    position: fixed;
    background-color: #ffffff;
}



.buttons ul form input {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background:  #000000;
    width: 100%;
    border: 0;
    margin:0;
    float: left;
    padding: 10px;
    color: #FFFFFF;
    font-size: 10px;
    cursor: pointer;
}
