
.wrapper {
    width: 100%;
    background-color: #fff;
}

.counter {
    position: fixed;
    width: 152px;
    height:100px;
    right: 0;
    background-color: #ffffff;
    top: 145px;
    font-size:12px;
}

.ul_counter {
    position: fixed;
    width: 152px;
    right: 0;
    background-color: #ffffff;
    top: 145px;
    padding-left: 5px;
    font-size:12px;
    border: 1px solid black;
}

.li_head{
    margin-top: 5px;
    padding-left: 5px;
    font-size: 15px;
    display: inline;
    float: left;
    padding-right: 5px;
    clear: both; color:
}

.li_counter{
    margin-top: 5px;
    padding-left: 5px;
    font-size: 12px;
    display: inline;
    float: left;
    padding-right: 5px;
    clear: both; color:
}

.words {
    position: fixed;
    width: 152px;
    height:600px;
    right: 0;
    overflow-y: scroll;
    background-color: #ffffff;
    top: 255px;
    font-size:12px;
}

.ul_words {
    position: fixed;
    width: 152px;
    height:100vh;
    right: 0;
    overflow-y: scroll;
    background-color: #ffffff;
    top: 255px;
    padding-left: 5px;
    font-size:12px;
    border: 1px solid black;
    cursor: pointer;
}

.li_words{
    margin-top: 5px;
    padding-left: 5px;
    font-size: 15px;
    display: inline;
    float: left;
    padding-right: 5px;
    clear: both; color:
}

.li_words_2 {
    margin-top: 5px;
    padding-left: 5px;
    font-size: 15px;
    display: inline;
    float: left;
    padding-right: 9px;
    clear: both; color:
}

.content-wrapper {
    margin-top: 0px;
    margin-right: 200px;
    margin-left: 130px;
    padding: 0 30px;
    overflow-y: scroll;
    position: fixed;
    left: 0;
    top:0 ;
    height:100vh;
    background-color:#ffffff;
}

.content-wrapper-instr {
    margin-top: 0px;
    margin-right: 200px;
    margin-left: 20px;
    padding: 0 30px;
    overflow-y: scroll;
    position: fixed;
    left: 0;
    top:0 ;
    height:100vh;
    background-color:#ffffff;
}
