.table-listing{
    padding-bottom: 20px;
}

table td {
    padding: 0;
    margin: 0;
}

.table1 {
    width: 200px;
    float: left;
}
.table2 {
    max-width: 10000px;
    overflow: auto;
    text-align: center;
}
